BasedOnStyle: LLVM
UseTab: Never
IndentWidth : 4

IncludeBlocks: Preserve

BreakBeforeBraces: Allman
BraceWrapping: 
    AfterFunction: true
    BeforeElse: true
    AfterNamespace: true
    AfterEnum: true
    AfterClass: true
    AfterCaseLabel : true
    
IndentCaseLabels : true

AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
